/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ———– */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ———– */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ———– */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ———– */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ———– */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

@media only screen and (min-width : 980px) and (max-width : 1279px){
/* Styles */
	main{
		width: 100%;
		padding: 10px;
	}

	nav ul li a span{
		display: none;
	}
	body{
		background: yellow;
	}	
}





/* Desktops and laptops ———– */
@media only screen and (min-width : 1280px) {
/* Styles */
	main{
		width: 90%;
	}
	body{
		background: blue;
	}	
}

@media only screen and (min-width : 1500px){
/* Styles */	
	/* Styles */	
	main{
		width: 70%;
	}
	body{
		background: red;
	}
}




/* iPhone 4 ———– */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}