*{
	margin: 0px;
	padding: 0px;
}

.limpio{
	clear: both;
}

.centrado{
	width: 70%;
	margin: 0 auto;
}

body{
	background: #444444;
}

header{	
	height: 550px;	
	/*background: url(../images/girl.jpg) center no-repeat;
	background-size: cover;*/
}

header #map_canvas{
	position: absolute; 
	height: 550px;	
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	z-index: 0;
	clear: both;
}

nav{
	position: fixed;
	top: 0;	
	z-index: 999;
	width: 100%;
	padding: 10px;
	/*background: rgba(255,255,255,0.8);*/
	background: -moz-linear-gradient(top, rgba(18,33,43,0.6) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(18,33,43,0.6)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(18,33,43,0.6) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(18,33,43,0.6) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(18,33,43,0.6) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(18,33,43,0.6) 0%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12212b', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

nav #logotipo{	
	display: inline;
}

nav ul{
	float: right;
	display: inline;
	margin-top: 20px;
	padding: 10px;		
}

nav ul li{
	list-style: none;
	display: inline-block;
}

nav ul li a{
	padding: 10px;
	color: #fff;	
	text-decoration: none;
}

nav ul li a:hover{
	color: #E07805;
}

section{
	width: 100%;
	background: #fff;
	height: 300px;
}

section#registro{	
	height: 64px;
	background: #5db4e1;
}

