@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

*{
	padding: 0px;
	margin: 0px;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////
 /////////                                  CLASES                                    ////////
///////////////////////////////////////////////////////////////////////////////////////////// */


.separador{
	margin: 20px 0px 20px 0px;
	padding: 5px 0px 5px 20px;
	text-transform: uppercase;
	color: #fff;
	font-size: 2em;
	background: rgba(206,35,103,1);
}

.pdf{
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 10px;
	color: #fff;
	width: 150px;
	text-align: center;
	margin: 0 auto;
	background: #CA0702;
}

.pdf:hover{
	background: #FD302B;
}

.boton{		
	padding: 10px;
	display: block;	
	color: #fff;	
	text-transform: uppercase;
	text-decoration: none;	
}

.azul{
	background: #409ACB;
}

.rosa{	
	background: rgba(206,35,103,0.9);
}

.rosa:hover{
	background: rgba(206,35,103,1);
}

.letraGrande{	
	font-size: 2.5em;	
}

.sinSubasta{
	text-align: center;
	margin: 20px;
	text-transform: uppercase;
}


.resultado{
	margin: 20px auto;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////
 /////////                               BODY #MAIN                                   ////////
///////////////////////////////////////////////////////////////////////////////////////////// */

body{
	background: url('../images/background-1.jpg');
	font-family: 'Open Sans', sans-serif;
}

main{
	margin: 0 auto;
	width: 65%;
	background: #fff;
	overflow: hidden;
	padding: 20px;
	box-shadow: 0px 0px 10px #9A9A9A;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////
 /////////                                  MENU NAV                                  ////////
///////////////////////////////////////////////////////////////////////////////////////////// */

nav{
	margin: 0 auto;
	width: 100%;
	height: 80px;	
	overflow: hidden;	
	background: #262626 url('../images/banner.gif') center repeat-x;
}

nav ul li #logotipo{
	float: left;
	padding-right: 20px;	
	background: #fff;
}

nav ul{	
	float: left;		
	width: 100%;	
}

nav ul li{	
	display: inline;
	list-style: none;
}

nav ul li a{	
	color: #fff;	
	display: block;
	font-weight: 800;
	float: left;
	height: 80px;
	padding: 10px 30px 10px 10px;
	text-decoration: none;
	text-transform: uppercase;		
}

nav ul li a:hover{	
	background: rgba(34,34,34,0.8);		
}

nav ul li a span{
	display: block;
	font-weight: 200;
	font-size: 0.7em;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
 /////////                                    #HEADER                                 ////////
///////////////////////////////////////////////////////////////////////////////////////////// */

header h1{	
	color: #fff;
	font-size: 2.2em;
	padding: 10px;
	text-transform: uppercase;
	margin: 30px 0px 0px 30px;
	background: rgba(10,10,10,0.3);
}

header h1 span{
	display: block;
	font-size: 1.2rem;
	padding: 2px;
	text-transform: uppercase;
}

header#mapa{
	margin: 20px auto 0px auto;
	width: 100%;
	height: 400px;	
	overflow: hidden;
}

header#oferts{
	margin: 20px auto 0px auto;
	width: 100%;
	height:	160px;	
	overflow: hidden;
	background: #262626 url('../images/bannery.gif')center no-repeat;
	 background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header#subscribe{
	margin: 20px auto 0px auto;
	width: 100%;
	height: 160px;	
	overflow: hidden;
	background: #262626 url('../images/bannerp.gif')center no-repeat;
	 background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header#contacto{
	margin: 20px auto 0px auto;
	width: 100%;
	height: 160px;	
	overflow: hidden;
	background: #262626 url('../images/bannerc.gif')center no-repeat;
	 background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////
 /////////                             SECTION / ARTICLE                              ////////
///////////////////////////////////////////////////////////////////////////////////////////// */


main>section{
	margin: 0px auto;
	width: 100%;	
	overflow: hidden;
}

main>section article{
	margin: 0px auto 20px auto;	
	overflow: hidden;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////
 /////////                                  #WELCOME                                  ////////
///////////////////////////////////////////////////////////////////////////////////////////// */

article#welcome{
	color: #fff;
	position:relative;
	background: #262626 url('../images/banner.gif') no-repeat fixed;
	 background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}

article#welcome #welcome_susbscribe{
	margin: 20px auto;
	text-align: center;	
	overflow: hidden;	
	width: 40%;	
	background: rgba(10,10,10,0.5);
}

article#welcome h2{
	font-size: 4.4em!important;
	margin-bottom: -10px;
	font-weight: inherit;	
	color: #fff;
}

article#welcome h3{
	font-size: 2.5em!important;
	margin-bottom: -30px;
	color: #fff;	
}

article#welcome h1{
	font-size: 7.2em!important;
	font-weight: bolder;
	margin: -10px;	
	color: #fff;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////
/////////                                    #SEARCHER                                ////////
///////////////////////////////////////////////////////////////////////////////////////////// */

section#buscador{		
	background: #00b5cc;
	margin: 20px 0px 20px 0px;
}

section#buscador form{
	margin: 0 auto;	
	padding: 20px;
	text-align: center;
}

section#buscador form input{
	padding: 7px;
	font-size: 1em;
}

section#buscador form input[type="text"]{
	width: 500px;
	border: 1px solid #E2E3DF;
}

section#buscador #buscador_provincias{
	margin-top: 20px;
}

section#buscador form input[type="checkbox"]{
	margin: 5px;
	width: 7px;
	height: auto;	
}

section#buscador form input[type="submit"]{
	border: none;
	background: rgba(206,35,103,0.9);
	color: #fff;
	width: 100px;
	text-transform: uppercase;
}

section#buscador form input[type="submit"]:hover{
	border: none;	
	background: rgba(206,35,103,1);
	color: #fff;
	cursor: pointer;	
}


/*/////////////////////////////////////////////////////////////////////////////////////////////
/////////                                  #PRINCIPAL                                 ////////
///////////////////////////////////////////////////////////////////////////////////////////// */

article#principal h1{
	border-left: 5px solid #409ACB;
	color: #101010;
	font-size: 2em;
	padding-left: 20px;
	text-transform: uppercase;
	margin-top: 20px;
}

article#principal h1 span{
	display: block;
	font-size: 1rem;
	padding: 2px;
	text-transform: uppercase;
}

article#principal article{
	width: 30%;	
	padding: 5px;
	margin: 10px;	
	display: inline;
	overflow: hidden;
	float: left;
}

article#principal h2 a{
	color: #409ACB;
}

article#principal h2 a:hover{
	color: #2D7BA6;	
}



/*/////////////////////////////////////////////////////////////////////////////////////////////
 /////////                                  #OFERTS                                   ////////
///////////////////////////////////////////////////////////////////////////////////////////// */


section h1{
	border-left: 5px solid #409ACB;
	color: #101010;
	font-size: 2em;
	padding-left: 20px;
	text-transform: uppercase;
	margin-top: 20px;
}

section h1 span{
	display: block;
	font-size: 1rem;
	padding: 2px;
	text-transform: uppercase;
}

article.oferts{
	width: 100%;	
	padding: 20px;
	margin: 10px;	
	overflow: hidden;
	border-bottom: 1px solid #DDDED8;
}

article.oferts li {
	margin-left: 30px;
}

article.oferts h2 a{
	color: #409ACB;
}

article.oferts h2 a:hover{
	color: #2D7BA6;	
}


/*/////////////////////////////////////////////////////////////////////////////////////////////
/////////                                #FORM SUBSCIBE                               ////////
///////////////////////////////////////////////////////////////////////////////////////////// */

form#subscribe{
	color: #101010;
	margin: 10px auto;
	width: 55%;
	padding: 20px;
	border: 1px solid #DDDED8;
}

.provincia_subs{
	padding: 5px;
}

form#subscribe span{
	font-size: 0.8em;
	font-weight: 300;
	color: #525252;
}

form#subscribe input[type="checkbox"]{
	margin-right: 10px;
}

form#subscribe input[type="text"]{
	width: 90%;
	padding: 5px;
	margin: 5px 0px 10px 0px;
}


form#subscribe input[type="submit"]{
	margin: 10px auto;
	display: block;
	border: none;
	padding: 10px;
	text-transform: uppercase;
	cursor: pointer;
}



/* /////////////////////////////////////////////////////////////////////////////////////////////
/////////                                   CONTACTO                                   ////////
///////////////////////////////////////////////////////////////////////////////////////////// */

p.email{
	margin: 10px;
}


a[href^="mailto:"]{
	text-align: center;
	margin: 10px;
	font-size: 2em;
	display: block;
	text-decoration: none;
	color: #2D7BA6;	
}



/*/////////////////////////////////////////////////////////////////////////////////////////////
 /////////                                   FOOTER                                   ////////
///////////////////////////////////////////////////////////////////////////////////////////// */


footer{
	margin: 20px auto 0px auto;	
	color: #fff;
}

footer section{
	width: 100%;
	height: 200px;	
	overflow: hidden;
	background: #262626 url('../images/footer.png') bottom left repeat-x;
	background-size: contain;
}

footer section article{
	display: inline-block;
	float: left;
	padding: 10px;
	font-weight: 100;	
}

footer section article h2{
	padding: 10px;	
	font-weight: 100;
}

footer section article ul li{
	list-style: none;
	margin-left: 30px;
	margin-bottom: 10px;
}

footer section article a{
	color: #fff;
	padding: 3px 5px 3px 5px;	
	text-decoration: none;
	background: rgba(206,35,103,1);
}

footer section article a:hover{	
	background: rgba(206,35,103,0.8);
}


footer section#copy{
	margin: 0px auto;
	width: 100%;
	height: auto;
	border-top: 1px solid #34352D;
	padding: 10px 0px 10px 0px;	
	background: #0C0C0C;
	color: #909090;
	font-weight: 300;
	font-size: 12px;
	text-align: center;
	overflow: hidden;
}





/* Desktops and laptops ———– */
@media only screen and (max-width : 1600px) {
	main{
		width: 80%;
	}
}




@media only screen and (max-width : 1280px) {
	main{
		width: 100%;
		padding: 0;		
	}

	nav{
		margin: 10px;
	}

	article#oferts{
		margin: 20px;
	}
	article#welcome #welcome_susbscribe{
		width: 60%;
	}


}
