
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

*{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	color: #272822;
}

.limpio{
	clear: both;
}

.centrado{
	width: 70%;
	margin: 0 auto;
}

body{
	background: #444444;
}

header{	
	height: 550px;		
}

header #map_canvas{
	position: absolute; 
	height: 550px;	
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	z-index: 0;
	clear: both;
}

nav{
	position: fixed;
	top: 0;	
	z-index: 999;
	width: 100%;
	padding: 10px;
	background: rgba(255,255,255,0.9);
	
}

nav #logotipo{	
	display: inline;
}

nav ul{
	float: right;
	display: inline;
	margin-top: 25px;
	padding: 10px;		
}

nav ul li{
	list-style: none;
	display: inline-block;
}

nav ul li a{
	padding: 10px;
	color: #00b5cc;
	font-weight: 700;
	text-decoration: none;
}

nav ul li a:hover{
	color: #E07805;
}


section{
	width: 100%;
	background: #fff;	
}

section#buscador{		
	background: #00b5cc;
}

section#buscador form{
	margin: 0 auto;	
	padding: 20px;
	text-align: center;
}

section#buscador form input{
	padding: 7px;
	font-size: 1em;
}

section#buscador form input[type="text"]{
	width: 400px;
}

section#buscador form input[type="submit"]{
	border: none;
	background: #9e4f8a;
	color: #fff;
	width: 100px;
}

section#buscador form input[type="submit"]:hover{
	border: none;
	background: #C287B4;
	color: #fff;
	cursor: pointer;	
}

section#welcome{
	height: 550px;
	background: #fff url('../images/welcome.jpg') no-repeat;
	background-position: 300px 0px;
}

section#welcome article{
	float: right;
	width: 50%;
	padding-top: 100px;
	text-align: center;
}

section#welcome article h2{
	font-size: 4.4em;
	margin-bottom: -10px;
	font-weight: inherit;
		color: #00b5cc;
}

section#welcome article h3{
	font-size: 2.5em;
	margin-bottom: -30px
}

.letraGrande{
	font-size: 2.8em;
}

.boton{
	border: none;
	background: #9e4f8a;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
}

.boton:hover{
	border: none;
	background: #C287B4;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}


section#welcome article h1{
	font-size: 7.2em;
	font-weight: bolder;
	margin: -10px
}